@charset "UTF-8";

html {
    background: #090a0e;
}

* {
    text-align: center;
    color: #b5daff;
}

p {
    font-size: 20px;
}

.box {
    width: 200px;
    height: 30px;
    text-align: center;
    margin: auto;
    background: #000;
}

.box:hover {
    background: #00215f;
    width: 200px;
}